<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Get Rates</title>
</head>
<body>
    <h2>Rates displayed Below</h2>
    <table>
        <tr>
            <td><th>Weight</th></td>
            <td><th>Letter Type</th></td>
        </tr>
        <tr>
            <td>
                <th><%= weight %></th>
            </td>
            <td> <th><%= letter %></th></td>
        </tr>
    </table>
    <span><br>____________________________<br></span>
    <p>The rate is: <%=rate %></p>
</body>
</html>